*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, rgb(236, 255, 205), rgba(1, 63, 34, 0.829));
    color:rgb(44, 44, 44);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

}